doctype html
html  
  head
    title= mode07
    //script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
           //integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
           //crossorigin="anonymous")
    script(src="/assets/js/jquery-3.2.1.min.js")
    link(rel="stylesheet" href="/assets/css/reset.css")
    link(rel="stylesheet" href="/assets/css/style.css")

  body  
    div.crt
      div#announce(style="text-align:left;")
        span#txt Hello <del>stranger</del>friend.
        br
        button#enter(style="display: none;") Enter
    script(src="/assets/js/t.min.js")
    script(src="/assets/js/enter.js")
  
