doctype html
html  
  head
    title= mode07
    //script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
           //integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
           //crossorigin="anonymous")
    script(src="/assets/js/jquery-3.2.1.min.js")
    link(rel="stylesheet" href="assets/css/style.css")
  body  
    div.header 
      mode07
    div#main
    div.input
      span >
      input#input(type="text")
    script
     var d1 = #{uploads};
     var d2 = !{uploads};
     var d3 = !{JSON.stringify(uploads).replace(/<\//g, "<\\/")};

     console.log("d1 =>", d1);
     console.log("d2 =>", d2);
     console.log("d3 =>", d3);

    script(src="assets/js/app.js")
