doctype html
html  
  head
    title= mode07
    //script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
           //integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
           //crossorigin="anonymous")
    script(src="/assets/js/jquery-3.2.1.min.js")
    script(src="/assets/js/socket.io.js")
    link(rel="stylesheet" href="/assets/css/style.css")
  body  
    div.header 
      mode07
    div#main(data-uploads=uploads)
    div.input
      span >
      input#input(type="text")

    script(src="/assets/js/app.js")
