body{
  background: #000;
  color: #5fae15;
  font-family: vt323; 
  font-size: 24px;
  border:none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:after, *:before{
  box-sizing:inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: inherit;
}

.header{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
}

*::-webkit-scrollbar {
    width: 0.5em;
}
 
*::-webkit-scrollbar-track {
/*   border: 1px solid green; */
}
 
*::-webkit-scrollbar-thumb {
  background-color: #5fae15;
}


#main{
  position: fixed;
  top: 100px;
  height: calc(100vh - 26px - 100px);
  width: 100%;
  overflow:auto;
}

#main.shell-mode{
  overflow:hidden;
}

.input{
  background: #000;
  position: fixed;
  width: calc(100% - 2px); 
  bottom:0px;
  height: 26px;
}

.input span{
  margin-right: 5px;
}
#input{
  background: #000;
  border: none;
  outline: none;
  font-family: vt323; 
  font-size: 24px;
  width: calc(100% - 15px);
}

table{
  border-spacing: 0;
  width: 100%;
  text-align: left;
}

th{
  background: #cd9;
  background: #5fae15;
  color: #000;
  cursor: auto;
}

tr{
  cursor: pointer;
}

tr:hover{
  background: #5fae15;
  color: #000;
}

textarea{
  background: #000;
  border: none;
  outline: none;
  font-family: vt323; 
  font-size: 24px;
  overflow: auto;
  width: 100% !important;
  height: 100%;
  resize: none;
}

.crt{
  color:green;
}

.crt:after{
  content: '';
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: transparent url(/assets/img/crt-screen.gif) top left repeat;
}

@font-face{
  font-family: vt323;
  src: url('/assets/font/VT323-Regular.ttf');
}

